.root
  padding 2u
  flex 1

.name
  margin-top 1u

.leaders
  margin-top 4u
  font(xl)
  text-align center

.scroll
  padding 1u

.row
  margin-top 1u
  padding 1u

.isFirst
  color $UI.colors.success
